@import "tailwindcss";

/* ძირითადი ფონის ფერი - Cream */
body {
  background-color: #FDFBF7; 
  color: #4A403A; /* ტექსტი - Coffee */
}

/* სქროლის დამალვა ჰორიზონტალურ სლაიდერებზე (კატეგორიებისთვის) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}